p {
    color: rgb(126, 171, 223);
}

body {
    background-color: rgb(10, 10, 10);
}

h1 {
    font-size: 2em;
}

.content-box {
    padding: 15px;
    margin: 30px;
    background-color: #103046;
    border: 2px solid #ccc;
}

table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #ce8643;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #eec644;
      color: #121213;
    }
    
form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    input[type="text"], input[type="name"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;

    }
    input[type="email"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: larger;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }